<div class="seccion1 ns">
  <section class="seccion1S">
    <div class="container">
      <div class="row rowP">
        <div class="col-md-6">
          <div class="infoS ">
            <div class="col-8 contenedor-somos sin-margin">
              <h2 style="margin: 0">La mejor calidad</h2>
              <h1 style="color: #212121">Nuestros servicios</h1>
              <p class="p-m">
                Aenean sollicitudin imperdiet ipsum quis pharetra. Fusce non
                aliquam quam. Morbi scelerisque dictum erat sit amet viverra.
                Quisque dignissim justo consequat diam euismod porta. Maecenas
                mollis finibus nisl, eget accumsan ex sollicitudin ut.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br/>
  <section class="seccion-cards">
    <div class="container">
      <div class="row">
        <div class="col-md-12 cards-services">
          <div (click)="selectArea('spa')" class="services-card card1">
              <div class="card-info">
                  <h1>SPA</h1>
                  <p>Phasellus orci turpis, pulvinar vel ante eget, sodales semper nulla.</p>
              </div>
              <div class="card-fondo spa">
                <div class="capa"></div>
              </div>
          </div>
          <div (click)="selectArea('estudio')" class="services-card card2">
              <div class="card-info ">
                  <h1>ESTUDIO</h1>
                  <p>Phasellus orci turpis, pulvinar vel ante eget, sodales semper nulla.</p>
              </div>
              <div class="card-fondo estudio">
                <div class="capa capa-estudio"></div>
              </div>
          </div>
          <div (click)="selectArea('uñas')" class="services-card card3">
              <div class="card-info rosa ">
                  <h1>UÑAS</h1>
                  <p>Phasellus orci turpis, pulvinar vel ante eget, sodales semper nulla.</p>
              </div>
              <div class="card-fondo uñas">
                <div class="capa capa-uñas"></div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-contact></app-contact>
