<div class="seccion1 ns">
  <section class="seccion1P">
    <div class="container">
      <div class="row rowP">
        <div class="col-md-6"></div>
        <div
          class="
            col-md-6
            d-flex
            align-items-lg-center
            justify-content-center
            h-p
          "
        >
          <div class="infoP">
            <div class="col-8 contenedor-somos sin-M">
              <h2 style="margin: 0">La mejor calidad</h2>
              <h1 style="color: #212121">Nuestros productos</h1>
              <p class="p-m">
                Aenean sollicitudin imperdiet ipsum quis pharetra. Fusce non
                aliquam quam. Morbi scelerisque dictum erat sit amet viverra.
                Quisque dignissim justo consequat diam euismod porta. Maecenas
                mollis finibus nisl, eget accumsan ex sollicitudin ut.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br />

  <section  class="seccion2P">
    <div #seccionProductos class="container-fuid" style="background: #f7f7f7">
      <div class="container">
        <div class="opcionesP">
          <p (click)="removeSearch()">Inicio</p>
          <ng-container *ngIf="categoria">
            <p>/</p>
            <p>{{ mainCategoria?.nombre || "-" }}</p>
          </ng-container>
          <ng-container *ngIf="mainSubCategoria && mainSubCategoria.nombre">
            <p>/</p>
            <p>{{ mainSubCategoria.nombre || "-" }}</p>
          </ng-container>
        </div>
      </div>
    </div>
    <br /><br />
    <!-- PRODUCTOS  -->
    <div class="productosP">
      <div class="container">
        <div class="row d-flex justify-content-lg-between">
          <div class="col-md-3 card-categoria">
            <h2 class="main-categoria-title">CATEGORÍAS</h2>
            <div class="categorias">
              <ng-container *ngFor="let categoria of categorias">
                <div class="categoria">
                  <p class="no-hover categoria-title">{{ categoria.nombre }}</p>
                  <ng-container
                    *ngFor="let subCategoria of categoria.subCategorias"
                  >
                    <div class="sub-categorias">
                      <p
                        [ngClass]="{
                          'categoria-selected':
                            subCategoria.id === mainSubCategoria.id
                        }"
                        (click)="search(subCategoria.id)"
                      >
                        {{ subCategoria.nombre }}
                      </p>
                      <p>{{ counts[subCategoria.id || 0] || 0 }}</p>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="col-md-9 cards-P">
            <div class="row row-imgs largoImgs" id="imagenesProdutos">
              <ng-container *ngFor="let producto of productos" >
                <div class="container-product2 ">
                  <app-product [producto]="producto"></app-product>
                </div>
              </ng-container>
            </div>
            <br />
            <div class="paginacion">
              <ng-container *ngFor="let pag of pages; let index = index"
                ><p [ngClass]="{ 'page-selected': index + 1 === page }">
                  {{ index + 1 }}
                </p></ng-container
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
<app-contact></app-contact>
