
  <!-- CONTACTO  -->
  <div class="container-fluid contacto">
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div class="c-formulario">
            <div class="col-12 contenedor-somos" style="height: auto">
              <h2 style="margin: 0">¿Te interesa hacer una cita?</h2>
              <h1
                style="
                  color: #3c3c3c;
                  line-height: 60px;
                  font-size: 48px;
                  color: #212121;
                "
              >
                Contáctanos
              </h1>
              <br />
              <form novalidate>
                <div class="group">
                  <input class="inputext" id="name" type="text" required />
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label class="input-descripcion">Nombre</label>
                </div>
                <div class="group">
                  <input class="inputext" id="email" type="text" required />
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label class="input-descripcion">Email</label>
                </div>
                <div class="group" style="padding-top: 30px">
                  <textarea
                    class="inputext"
                    id="message"
                    name=""
                    cols="5"
                    rows="2"
                  ></textarea>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label class="input-descripcion">Mensaje</label>
                </div>
                <div>
                  <a
                    class="btn-enviar"
                    id="sendMessageButton"
                    onclick="enviarmail()"
                    >ENVIAR</a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>