<section class="seccion1M">
    <div class="container">
        <div class="row rowP">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 d-flex align-items-lg-center justify-content-center h-p">
                <div class="infoP">
                    <div class="col-8 contenedor-somos sin-M">
                        <h2 style="margin: 0;">La mejor calidad</h2>
                        <h1 style="color: #212121;">Nuestas máquinas</h1>
                        <p class="p-m">Aenean sollicitudin imperdiet ipsum quis pharetra. Fusce non aliquam quam. Morbi scelerisque dictum erat sit amet viverra. Quisque dignissim justo consequat diam euismod porta. Maecenas mollis finibus nisl, eget accumsan ex sollicitudin ut.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>

<section class="seccion2P">
    <div class="container-fuid" style="background: #f7f7f7;">
        <div class="container">
            <div class="opcionesP">
                <p>Inicio</p>
                <p>/</p>
                <p style="color: #E86A6A;">Maquinas</p>
            </div>
        </div>
    </div>
    <br><br>
</section>

<div class="seccion3 machine" id="servicios">
    <div class="container">
      <div class="row">
        <div class="col-md-12 hover1 hm" >
          <div class="row">
            <div class="col-md-6 pN">
              <div class="img-maquina"></div>
            </div>
            <div class="col-md-6 p-l" style="background: #faf2d9">
              <div class="c-info fondo1">
                <div class="info-servicio">
                  <p>Subtítulo</p>
                  <h2 class="s-titulo">MAQUINA 1</h2>
                  <p class="linea"></p>
                  <p>
                    Proin nibh elit, scelerisque et bibendum vestibulum,
                    consectetur in magna. Etiam ultricies bibendum feugiat. Donec
                    mattis sem sed consectetur sodales. Nam quis metus est. Donec
                    et arcu ut quam condimentum feugiat.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 hover2 hm" >
          <div class="row">
            <div class="col-md-6 extra" style="background: #62BB4630">
              <div class="c-info fondo2">
                <div class="info-servicio">
                  <p>Subtítulo</p>
                  <h2 class="s-titulo">MAQUINA 2</h2>
                  <p class="linea"></p>
                  <p>
                    Proin nibh elit, scelerisque et bibendum vestibulum,
                    consectetur in magna. Etiam ultricies bibendum feugiat. Donec
                    mattis sem sed consectetur sodales. Nam quis metus est. Donec
                    et arcu ut quam condimentum feugiat.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 p-img p-l">
              <div class="img-maquina2"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 hover3 hm">
          <div class="row">
            <div class="col-md-6 pN extra">
              <div class="img-maquina3"></div>
            </div>
            <div class="col-md-6 p-l" style="background: #ffffff">
              <div class="c-info fondo3">
                <div class="info-servicio">
                  <p>Subtítulo</p>
                  <h2 class="s-titulo">MAQUINA 3</h2>
                  <p class="linea"></p>
                  <p>
                    Proin nibh elit, scelerisque et bibendum vestibulum,
                    consectetur in magna. Etiam ultricies bibendum feugiat. Donec
                    mattis sem sed consectetur sodales. Nam quis metus est. Donec
                    et arcu ut quam condimentum feugiat.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 hover4 hm">
          <div class="row">
            <div class="col-md-6 extra" style="background: #f7a1a130">
              <div class="c-info">
                <div class="info-servicio">
                  <p>Subtítulo</p>
                  <h2 class="s-titulo">MAQUINA 4</h2>
                  <p class="linea"></p>
                  <p>
                    Proin nibh elit, scelerisque et bibendum vestibulum,
                    consectetur in magna. Etiam ultricies bibendum feugiat. Donec
                    mattis sem sed consectetur sodales. Nam quis metus est. Donec
                    et arcu ut quam condimentum feugiat.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 p-img p-l">
              <div class="img-maquina4"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 hover5 hm">
          <div class="row">
            <div class="col-md-6 pN extra">
              <div class="img-maquina5"></div>
            </div>
            <div class="col-md-6 p-l" style="background: #ffffff">
              <div class="c-info fondo5">
                <div class="info-servicio">
                  <p>Subtítulo</p>
                  <h2 class="s-titulo">MAQUINA 5</h2>
                  <p class="linea"></p>
                  <p>
                    Proin nibh elit, scelerisque et bibendum vestibulum,
                    consectetur in magna. Etiam ultricies bibendum feugiat. Donec
                    mattis sem sed consectetur sodales. Nam quis metus est. Donec
                    et arcu ut quam condimentum feugiat.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-contact></app-contact>
