<ng-container *ngIf="data">
  <section class="confirmation">
    <div class="container">
      <div class="info-confirmation">
        <img src="../../../../../assets/img/confirmation.svg" alt="" />
        <h1>¡Orden completa!</h1>
        <p>
          Tu orden por <span>{{ amount }} MXN</span> ha
          <span>realizada con éxito.</span>
        </p>
        <div
          class="d-flex justify-content-center align-items-center"
          routerLink="../../products"
        >
          SEGUIR COMPRANDO
        </div>
      </div>
    </div>
  </section>
</ng-container>
