<div class="presentacion-fondo">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators puntos" >
      <svg style="background-color:#E86A6A ;" data-bs-target="#carouselExampleCaptions" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-label="Slide 1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle circulitos active" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      </svg>
      <svg style="background-color:#E86A6A ;" data-bs-target="#carouselExampleCaptions" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle circulitos" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      </svg>
      <svg style="background-color:#E86A6A ;" data-bs-target="#carouselExampleCaptions" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle circulitos" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      </svg>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/slide1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/slide2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/slide3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="presentacion-texto">
        <h2>Sesión SPA Deluxe</h2>
          <h1>Consiénte <br> <span style="color: #212121;" >con ganas</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum modi recusandae nobiss</p>
        <div class="cont-btnComprar">
          <a href="">Comprar ya</a>
        </div>
      </div>
</div>

<div class="seccion2" id="nosotros">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-somos">
        <div class="col-8 contenedor-somos">
          <h2 style="margin: 0;">¿Quiénes somos?</h2>
          <h1>Conoce <span style="color: #212121;">Rox Spa</span></h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quasi amet obcaecati voluptatum distinctio eum quis. Deleniti explicabo aperiam minima dolore, id excepturi ad vel autem, cupiditate corporis in porro!</p>
          <div class="cont-sq">
            <img class="imgsq" src="assets/img/qs1.svg" alt="">
            <img class="imgsq" src="assets/img/qs12.svg" alt="">
            <img class="imgsq" src="assets/img/qs3.svg" alt="">
          </div>
          <br>
          <div class="conoce" >
            <a class="conocea" href="./html/nosotros.html">Conoce más <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle icono-flecha" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg></span></a>
          </div>
        </div>
    </div>
    <div class="col-md-6 img-col" >
      <img class="imgs2" src="assets/img/Imagen.png" alt="">
    </div>
  </div>
</div>
</div>

<div class="seccion3" id="servicios">
<div class="container">
  <div class="row">
    <div class="col-md-12 hover1">
        <div class="row">
          <div class="col-md-6 pN">
            <div class="img-servicio"></div>
          </div>
          <div class="col-md-6 p-l" style="background: #FAF2D9;">
            <div class="c-info fondo1">
              <div class="info-servicio">
                <p>Subtítulo</p>
                <h2 class="s-titulo">SERVICIO 1</h2>
                <p class="linea">   </p>
                <p>Proin nibh elit, scelerisque et bibendum vestibulum, consectetur in magna. Etiam ultricies bibendum feugiat. Donec mattis sem sed consectetur sodales. Nam quis metus est. Donec et arcu ut quam condimentum feugiat.</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 hover2">
        <div class="row">
          <div class="col-md-6 extra">
            <div class="c-info fondo2">
              <div class="info-servicio ">
                <p>Subtítulo</p>
                <h2 class="s-titulo">SERVICIO 2</h2>
                <p class="linea">   </p>
                <p>Proin nibh elit, scelerisque et bibendum vestibulum, consectetur in magna. Etiam ultricies bibendum feugiat. Donec mattis sem sed consectetur sodales. Nam quis metus est. Donec et arcu ut quam condimentum feugiat.</p>
              </div>
          </div>
        </div>
        <div class="col-md-6 p-img p-l">
          <div class="img-servicio2"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 hover3">
        <div class="row">
          <div class="col-md-6 pN extra">
            <div class="img-servicio3"></div>
          </div>
          <div class="col-md-6 p-l" style="background: #FFFFFF;">
            <div class="c-info fondo3">
              <div class="info-servicio">
                <p>Subtítulo</p>
                <h2 class="s-titulo">SERVICIO 3</h2>
                <p class="linea">   </p>
                <p>Proin nibh elit, scelerisque et bibendum vestibulum, consectetur in magna. Etiam ultricies bibendum feugiat. Donec mattis sem sed consectetur sodales. Nam quis metus est. Donec et arcu ut quam condimentum feugiat.</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 hover4">
        <div class="row">
          <div class="col-md-6 extra" style="background: #F7A1A130;">
            <div class="c-info">
              <div class="info-servicio ">
                <p>Subtítulo</p>
                <h2 class="s-titulo">SERVICIO 4</h2>
                <p class="linea">   </p>
                <p>Proin nibh elit, scelerisque et bibendum vestibulum, consectetur in magna. Etiam ultricies bibendum feugiat. Donec mattis sem sed consectetur sodales. Nam quis metus est. Donec et arcu ut quam condimentum feugiat.</p>
              </div>
          </div>
        </div>
        <div class="col-md-6 p-img p-l">
          <div class="img-servicio4"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 hover5">
        <div class="row">
          <div class="col-md-6 pN extra">
            <div class="img-servicio5"></div>
          </div>
          <div class="col-md-6 p-l" style="background: #FFFFFF;">
            <div class="c-info fondo5">
              <div class="info-servicio">
                <p>Subtítulo</p>
                <h2 class="s-titulo">SERVICIO 5</h2>
                <p class="linea">   </p>
                <p>Proin nibh elit, scelerisque et bibendum vestibulum, consectetur in magna. Etiam ultricies bibendum feugiat. Donec mattis sem sed consectetur sodales. Nam quis metus est. Donec et arcu ut quam condimentum feugiat.</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p style="opacity: 0;" id="productos"></p>
<br>
<div class="productos">
  <div class="container">
    <div class="p-titulo">
      <p>Nuestros</p>
      <h2>Productos</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row row-imgs">
          <div class="col-md-3 largo" >
            <div class="add-car">
              <p>AGREGAR AL CARRITO</p>
            </div>
            <img src="assets/img/maquillaje3.jpg" class="img-p" alt="">
            <div class="info-p">
                <p>SEPHORA</p>
                <H2>Desmaquillante 16oz</H2>
                <h1>299. <span>00</span></h1>
            </div>
          </div>
          <div class="col-md-3 largo" >
            <div class="add-car">
              <p>AGREGAR AL CARRITO</p>
            </div>
            <img src="assets/img/maquillaje2.jpg" class="img-p" alt="">
            <div class="info-p">
                <p>SEPHORA</p>
                <H2>Desmaquillante 16oz</H2>
                <h1>299. <span>00</span></h1>
            </div>
          </div>
          <div class="col-md-3 largo" >
            <div class="add-car">
              <p>AGREGAR AL CARRITO</p>
            </div>
            <img src="assets/img/maquillaje1.jpg" class="img-p" alt="">
            <div class="info-p">
                <p>SEPHORA</p>
                <H2>Desmaquillante 16oz</H2>
                <h1>299. <span>00</span></h1>
            </div>
          </div>
          <div class="col-md-3 largo" >
            <div class="add-car">
              <p>AGREGAR AL CARRITO</p>
            </div>
            <img src="assets/img/maquillaje4.jpg" class="img-p" alt="">
            <div class="info-p">
                <p>SEPHORA</p>
                <H2>Desmaquillante 16oz</H2>
                <h1>299. <span>00</span></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row row-imgs">
          <div class="col-md-3 largo" >
            <div class="add-car">
              <p>AGREGAR AL CARRITO</p>
            </div>
            <img src="assets/img/maquillaje4.jpg" class="img-p" alt="">
            <div class="info-p">
                <p>SEPHORA</p>
                <H2>Desmaquillante 16oz</H2>
                <h1>299. <span>00</span></h1>
            </div>
          </div>
          <div class="col-md-3 largo" >
            <div class="add-car">
              <p>AGREGAR AL CARRITO</p>
            </div>
            <img src="assets/img/maquillaje1.jpg" class="img-p" alt="">
            <div class="info-p">
                <p>SEPHORA</p>
                <H2>Desmaquillante 16oz</H2>
                <h1>299. <span>00</span></h1>
            </div>
          </div>
          <div class="col-md-3 largo" >
            <div class="add-car">
              <p>AGREGAR AL CARRITO</p>
            </div>
            <img src="assets/img/maquillaje2.jpg" class="img-p" alt="">
            <div class="info-p">
                <p>SEPHORA</p>
                <H2>Desmaquillante 16oz</H2>
                <h1>299. <span>00</span></h1>
            </div>
          </div>
          <div class="col-md-3 largo" >
            <div class="add-car">
              <p>AGREGAR AL CARRITO</p>
            </div>
            <img src="assets/img/maquillaje3.jpg" class="img-p" alt="">
            <div class="info-p">
                <p>SEPHORA</p>
                <H2>Desmaquillante 16oz</H2>
                <h1>299. <span>00</span></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ver-producto">
      <a id="maquina" href="/html/productos.html">Ver producto</a>
    </div>
  </div>
</div>
</div>
<br>
<div class="seccion4" >
<div class="container">
  <div class="row">
    <div class="col-md-3 calidad">
      <div class="col-12 contenedor-somos" style="height: auto;">
        <h2>Nuestro equipo es de </h2>
        <h1 style="color: #3C3C3C;">Primera calidad</h1>
        <p style="width: 90%;">Vivamus volutpat enim risus, ac efficitur erat pulvinar sit amet. Fusce molestie libero a arcu tincidunt porttitor. Curabitur ultricies nisl id risus consectetur posuere.</p>
        <br>
        <div class="conoce a">
          <a class="conocea" href="">Conoce más <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle icono-flecha" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
          </svg></span></a>
        </div>
      </div>
    </div>
    <div class="col-md-3 img1">
      <div class="info-hover">
            <p>Sed et aliquet magna. Proin quis augue non sapien imperdiet ultricies.</p>
      </div>
      <div class="box-black">
        Maquinoterapia 1
      </div>
    </div>
    <div class="col-md-3 img2">
      <div class="info-hover">
        <p>Sed et aliquet magna. Proin quis augue non sapien imperdiet ultricies.</p>
      </div>
      <div class="box-black">
        Maquinoterapia 1
      </div>
    </div>
    <div class="col-md-3 img3">
      <div class="info-hover">
        <p>Sed et aliquet magna. Proin quis augue non sapien imperdiet ultricies.</p>
      </div>
      <div class="box-black">
        Maquinoterapia 1
      </div>
    </div>
  </div>
</div>
</div>
<br>
<div class="container-fluid contacto" id="contacto">
<div class="container">
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <div class="c-formulario">
        <div class="col-12 contenedor-somos" style="height: auto;">
          <h2 style="margin: 0;">¿Te interesa hacer una cita? </h2>
          <h1 style="color: #3C3C3C; line-height: 60px; font-size: 48px; color: #212121;">Contáctanos</h1>
          <br>
          <form  novalidate>
            <div class="group">
                <input class="inputext" id="name" type="text" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="input-descripcion">Nombre</label>
            </div>
            <div class="group">
                <input class="inputext" id="email" type="text" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="input-descripcion">Email</label>
            </div>
            <div class="group" style="padding-top: 30px;">
                <textarea class="inputext" id="message" name=""  cols="5" rows="2"></textarea>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="input-descripcion">Mensaje</label>
            </div>
            <div>
                <a class="btn-enviar" id="sendMessageButton" onclick="enviarmail()">ENVIAR</a>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
