<div class="seccion1 ns">
    <div class="presentacion-fondo n-fondo" style="position: relative;">
       <div class="container-fluid p-nosotros presentacion-texto">
           <div class="text-center c-nosotros">
               <h2>Vive para disfrutar</h2>
                   <h1>Rox</h1>
                   <h3>Spa • Studio</h3>
               <p class="n-infoP p-m">Phasellus elementum ipsum in elit egestas vehicula mattis eu metus. Aliquam at ultrices lorem. Fusce ullamcorper mauris ac facilisis feugiat. </p>
           </div>
       </div>
 </div>

 <div class="seccion2N">
   <div class="container">
     <div class="row">
       <div class="col-md-6 col-infoN">
         <div class="col-8 contenedor-somos sin-M">
           <h2 style="margin: 0;">¿Quiénes somos?</h2>
           <h1 style="color: #212121;">Conoce <span style="color: #212121;">Rox Spa</span></h1>
           <p class="p-m">Aenean sollicitudin imperdiet ipsum quis pharetra. Fusce non aliquam quam. Morbi scelerisque dictum erat sit amet viverra. Quisque dignissim justo consequat diam euismod porta. Maecenas mollis finibus nisl, eget accumsan ex sollicitudin ut.</p>
         </div>
         <div class="plantaa">
           <img src="../../../../../assets/img/planta_qs.png" alt="">
         </div>
       </div>
       <div class="col-md-6 col-imgN">
         <div class="container flee">
           <div class="row">
             <div class="col-sm-6">
               <div class="imgN1"></div>
             </div>
             <div class="col-sm-6">
               <div class="imgN1 imgN2"></div>
             </div>
           </div>
           <div class="row">
             <div class="col-sm-12">
               <div class="imgN3"></div>
             </div>
           </div>
         </div>
     </div>
   </div>
 </div>
 <br><br>

 <div class="seccion3N">
   <div class="container">
     <div class="row">
       <div class="p-titulo">
         <p>Nuestros equipo es de</p>
         <h2>Primera calidad</h2>
       </div>
       <div class="col-md-6 c-n">
         <p>Vivamus volutpat enim risus, ac efficitur erat pulvinar sit amet. Fusce molestie libero a arcu tincidunt porttitor. Curabitur ultricies nisl id risus consectetur posuere. Praesent blandit, velit eu suscipit rutrum, dui libero porttitor est, et varius odio ligula id elit. Curabitur aliquam sem vel erat molestie volutpat. Cras lacinia lectus quam, sagittis maximus ex pretium ut. Vestibulum interdum ipsum sit amet felis consectetur, in lacinia quam luctus. Nunc sit amet lorem non leo tempus egestas ut at arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ac malesuada tellus, ut mattis tellus. Nullam maximus odio ante, et semper metus venenatis ut. Morbi ultricies felis ut augue laoreet tristique. Sed vel ligula quis ipsum sagittis commodo non in justo. Ut id turpis dui. Sed tempor, risus eleifend pellentesque lobortis, sapien orci porta orci, vel condimentum arcu risus a quam.</p>
         <br>
         <p>Vivamus velit urna, volutpat dapibus consectetur vitae, posuere nec turpis. Fusce eget nisi a elit tincidunt tristique. Pellentesque eget odio rutrum, consequat sem at, sagittis nunc. Fusce ut congue erat, sit amet bibendum purus. Vestibulum vel porta diam, nec ullamcorper augue. Sed at venenatis quam, vel blandit risus. Nulla non malesuada leo. Vivamus tincidunt lacus vitae pellentesque blandit. Curabitur eget est non lacus dictum bibendum. Morbi at leo a leo mattis vestibulum. Donec sed consectetur enim. Maecenas ut elit pretium, placerat enim sed, dignissim nibh. Nulla pellentesque quam luctus facilisis consectetur. Aenean ac dolor at purus pulvinar aliquet. In quis sagittis ipsum.
         </p>
       </div>
       <div class="col-md-6 c-n">
         <p>Cras vulputate tincidunt sodales. Praesent et mi tincidunt, commodo purus quis, finibus nunc. In tempor, turpis vel efficitur ultricies, diam magna blandit justo, a ullamcorper lectus ligula vel eros. Integer imperdiet viverra lacinia. Sed quis magna in nibh accumsan bibendum sit amet ac justo. Nunc tincidunt rhoncus diam sed tristique. Donec porttitor a arcu ac sodales. Suspendisse volutpat sit amet velit ut egestas. Ut eu maximus ligula. Cras at sollicitudin urna, at molestie massa. Fusce imperdiet erat eu dui cursus, vel posuere purus porttitor. Pellentesque porttitor sit amet tellus vitae fermentum. Suspendisse pharetra nisi sed risus porttitor hendrerit. Aliquam erat volutpat. Sed tempus odio at lorem rhoncus aliquam. Morbi purus dolor, placerat sit amet fringilla vitae, pellentesque in lorem.</p>
         <br>
         <p>Phasellus elementum ipsum in elit egestas vehicula mattis eu metus. Aliquam at ultrices lorem. Fusce ullamcorper mauris ac facilisis feugiat. Duis rutrum pharetra feugiat. Fusce hendrerit tellus justo, sit amet vulputate lorem pretium hendrerit. Phasellus sed scelerisque nisi. Duis quis facilisis urna, nec suscipit velit. Quisque ullamcorper aliquam nibh euismod semper. Curabitur convallis sagittis semper.</p>
       </div>
     </div>
   </div>
 </div>
<app-contact></app-contact>
