<section class="contenido-car">
    <div class="container">
        <div class="row descripcion-p">
            <div class="col-6 justify-content-start">
                <p>PRODUCTOS</p>
            </div>
            <div class="col-2">
                <p>PRECIOS</p>
            </div>
            <div class="col-2">
                <p>CANTIDAD</p>
            </div>
            <div class="col-2">
                <p>PRECIO UNITARIO</p>
            </div>
        </div>
        <div class="row row-productos">
            <div class="col-3 img-produ">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x iconoX" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
                <img class="img-prod" src="img/maquillaje1.jpg" alt="">
            </div>
            <div class="col-3 info-prod justify-content-start">
                <h1>Collar Iniciales y Diges de Corazón</h1>
            </div>
            <div class="col-2 precio-prod ">
                <p>$998</p>
            </div>
            <div class="col-2">
                <div class="add-producto acom" >
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                            <path d="M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z" />
                        </svg>
                    </div>
                    <div>
                        <p>2</p>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-2 precio-prod cf">
                <p>$1996.00</p>
            </div>
        </div>
        <div class="row row-productos">
            <div class="col-3 img-produ">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x iconoX" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
                <img class="img-prod" src="img/maquillaje1.jpg" alt="">
            </div>
            <div class="col-3 info-prod justify-content-start">
                <h1>Collar Iniciales y Diges de Corazón</h1>
            </div>
            <div class="col-2 precio-prod">
                <p>$2,165</p>
            </div>
            <div class="col-2">
                <div class="add-producto acom">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                            <path d="M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z" />
                        </svg>
                    </div>
                    <div>
                        <p>2</p>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-2 precio-prod cf">
                <p>$4330.00</p>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-6 p-0">
                <div class="canjear">
                    <input type="text" placeholder="Código de descuento">
                    <button>CANJEAR</button>
                </div>
            </div>
            <div class=" p-0 col-md-6 d-flex justify-content-xl-end">
                <div class="pagar">
                    <div class=" info-total">
                        <div class="sub-total">
                          <p>Subtotal</p>
                          <p>$998</p>
                        </div>
                        <div class="envio sub-total">
                          <p>Shipping fees</p>
                          <p>$20</p>
                        </div>
                        <div class="coupon sub-total">
                          <p>COUPON</p>
                          <p>ROX SPA 90%</p>
                        </div>
                    </div>
                    <div class="car-total">
                        <p>TOTAL</p>
                        <P>$286</P>
                    </div>
                    <div class="btn-checkout">
                      <h2>CHECKOUT</h2>    
                    </div>
                  </div>
                </div>
            </div>
        </div>
</section>
