/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing:content-box;
}

@import "./assets/scss/base.scss";
@import '~ngx-toastr/toastr';
@import "~@ng-select/ng-select/themes/default.theme.css";

.page-wrap {
  display: flex;
  flex-direction: column;
}
:root{
  --rosa: #E86A6A;
  --cremoso: #F7F7F7;
  --rosa-claro:#F7A1A1;
  --montserrat: 'Montserrat';

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--montserrat);
}

html{
  scroll-behavior: smooth;
}


.seccion1{
  width: 100%;
  height: 100vh;
  border-top: 5px solid var(--rosa-claro);
  // margin-bottom: 130px;
}

.navv{
  padding: 0!important;
}

.navvbar{
  height: 140px;
}

.logo{
  width: 143px;
  height: 80px;
}
.logo2{
  width: 143px;
  height: 80px;
  display: none;
  margin: auto;
}

.posicion{
  justify-content: space-between;
  height: 140px;
  align-items: center;
  height: auto;
  position: relative;
  max-width: 1550px;
  margin: auto;
}

.navbar-nav a{
  font-size: 14px;
  font-weight: 400;
  color: #595B5D;
  transition: 300ms all ease;
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
}
.navbar-nav a:hover{
  color: var(--rosa)!important;
}

.redes{
  color: var(--rosa-claro);
  width: 97px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.redes a{
  color: unset!important
}

.redes svg:hover{
  color: #E86A6A;
  transition: .5s all ease;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -ms-transition: .5s all ease;
  -o-transition: .5s all ease;
}

.logo-menu{
  position: absolute;
  z-index: 1;
  color: var(--rosa-claro)!important;
  background: none!important;
}

.icono-car{
  background: var(--rosa-claro);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icono-car:hover{
  background: var(--rosa);
}

.presentacion-fondo{
  height: auto;
  min-height: 660px;
  width: 100%;
  position: relative;
}


.presentacion-texto{
  width: 500px;
  height: 400px;
  position: absolute;
  top: 23%;
  left: 52%;
}

.presentacion-texto h2{
  font-size: 24px;
  color: var(--rosa-claro)
}
.presentacion-texto :nth-child(2){
  font-size: 72px;
  font-weight: 800;
  color: var(--rosa);
  line-height: 72px;
}

.presentacion-texto p{
  font-size: 14px;
  color: #6D6E70;
  width: 75%;
}

.cont-btnComprar{
  width: 170px;
  height: 50px;
  background: var(--rosa);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnN{
  margin: auto;
}

.c-nosotros{
  left: 35%;
  width: 500px;
  height: auto;
}
.c-nosotros h1{
  font-size: 72px!important;
  line-height: 43px!important;
  margin-top: 20px!important;
}
.c-nosotros h3{
  font-size: 36px!important;
  font-weight: 800!important;
  color: #6D6E70!important;
}

.p-nosotros{
  background-image: url('./assets/img/quienesTop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: unset;
}

.cont-btnComprar a{
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: none;

}
.cont-btnComprar a:hover{
  color: white;
}
.cont-btnComprar:hover{
  background: var(--rosa-claro);
}


.circulos-fondo{
  position: absolute;
  bottom: -8%;
}

#menu-fijo{
  transition: 1s all ease;

}


.menu-fijo{
  box-shadow: 0 0px 0px 0 rgb(60 64 67 / 30%), 0 0px 3px 3px rgb(60 64 67 / 15%);
  position: fixed;
  z-index: 10000000;
  background: white;
  right: 0;
  left: 0;
  width: 100%!important;
  max-width: unset!important;
  top: 0;
  transition: 1s all ease;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;

}

.circulito-relleno{
  color: var(--rosa);
  background: var(--rosa);
}
.acomodo{
  position: absolute!important;
  top: 70%!important;
  left: 8%!important;
}

.circulitos{
  color: var(--rosa);
  border-radius: 100%!important;
  border: 0.5px solid var(--rosa)!important;
  width: 10px!important;
  height: 10px!important;
  -webkit-border-radius: 100%!important;
  -moz-border-radius: 100%!important;
  -ms-border-radius: 100%!important;
  -o-border-radius: 100%!important;
}

.seleccionado{
  background: var(--rosa);
}

.flechas{
  display: none!important;
  opacity: 0;
}

.transicion{
  transition: .5s all ease!important;
  -webkit-transition: .5s all ease!important;
  -moz-transition: .5s all ease!important;
  -ms-transition: .5s all ease!important;
  -o-transition: .5s all ease!important;
}

.img{
  display: none!important;
}
.trashh{
  cursor: pointer;
  transition: 300ms all ease;
}



.trashh:hover{
  color: #A8A8A8;
  transition: 300ms all ease;
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
}

.oculto{
  display: none!important;
}

.efecto{
  transition: .5s all ease;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -ms-transition: .5s all ease;
  -o-transition: .5s all ease;
}
.imgsq{
  width: 84px;
  height:84px;
}
.cont-sq{
  justify-content: space-between;
  display: flex;
  margin-top: 40px;
}

.seccion2{
  height: auto;
  margin-top: 250px;
  width: 100%;
}
.col-somos{
  display: flex;
  align-items: center;
  height: 780px;
}

.contenedor-somos{
  height: auto;

}
.contenedor-somos h2{
  margin: 0;
  font-size: 18px ;
  color: var(--rosa);
}

.contenedor-somos p{
  color: #6D6E70;
  font-size: 14px;
}
.contenedor-somos h1, .contenedor-somos h1 span{
  font-size: 30px;
  line-height: 52px;
  font-weight: bold;
  color: var(--rosa);
  margin-bottom: 20px;

}

.conoce{
  width: 35%;
  margin-top: 60px;
  height: 30px;
  color: #3C3C3C;
  font-weight: 500;
}
.conocea{
  font-size: 12px;
  font-weight: 500;
  color: #3C3C3C;
  text-decoration: none;
  transition: .5s all ease;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -ms-transition: .5s all ease;
  -o-transition: .5s all ease;
}

.conoce:hover .conocea{
  color: #62BB46!important;
}
.conoce:hover .icono-flecha{
  transform: translateX(6px);
  transition: .5s all ease;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -ms-transition: .5s all ease;
  -o-transition: .5s all ease;
  color: #62BB46;
  -webkit-transform: translateX(6px);
  -moz-transform: translateX(6px);
  -ms-transform: translateX(6px);
  -o-transform: translateX(6px);
}

.icono-flecha{
  margin-left: 3pxs;
  transition: .5s all ease;
  color: #3C3C3C;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -ms-transition: .5s all ease;
  -o-transition: .5s all ease;
}


.imgs2{
  width: 100%;
  height: 100%;
}

.pN{
  padding: 0!important;
}
.mN{
  margin: 0!important;
}

.img-servicio {
  background-image: url('./assets/img/servicio1.png');
  width: 100%;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s all ease!important;
  -webkit-transition: 1s all ease!important;
  -o-transition: 1s all ease!important;
  -moz-transition: 1s all ease!important;
  -ms-transition: 1s all ease!important;
  -o-transition: 1s all ease;
}

.img-maquina {
  background-image: url('./assets/img/newmaquina1.png');
  width: 100%;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s all ease!important;
  -webkit-transition: 1s all ease!important;
  -o-transition: 1s all ease!important;
  -moz-transition: 1s all ease!important;
  -ms-transition: 1s all ease!important;
  -o-transition: 1s all ease;
  overflow: hidden;
}

.img-servicio2 {
  background-image: url('./assets/img/servicio2.png');
  width: 100%;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -o-transition: 1s all ease!important;
  transition: 1s all ease!important;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
}
.img-maquina2 {
  background-image: url('./assets/img/maquinas.jpg');
  width: 100%;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -o-transition: 1s all ease!important;
  transition: 1s all ease!important;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
}

.p-img{
  // padding-right: 0;
  padding: 0!important;
  overflow: hidden;
}

.p-info{
  padding-right: 0;
}
.img-servicio3 {
  background-image: url('./assets/img/servicio3.png');
  width: 100%;
  -o-transition: 1s all ease!important;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s all ease!important;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
}
.img-maquina3 {
  background-image: url('./assets/img/newmaquina3.png');
  width: 100%;
  -o-transition: 1s all ease!important;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s all ease!important;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
}
.img-servicio4 {
  background-image: url('./assets/img/servicio4.png');
  width: 100%;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s all ease!important;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease!important;
  -o-transition: 1s all ease;
}
.img-maquina4 {
  background-image: url('./assets/img/maquina4.png');
  width: 100%;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s all ease!important;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease!important;
  -o-transition: 1s all ease;
}
.img-servicio5 {
  background-image: url('./assets/img/servicio5.png');
  width: 100%;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s all ease!important;
  -webkit-transition: 1s all ease!important;
  -moz-transition: 1s all ease!important;
  -ms-transition: 1s all ease!important;
  -o-transition: 1s all ease!important;
  transition: 1s all ease!important;
}
.img-maquina5 {
  background-image: url('./assets/img/maquina5.png');
  width: 100%;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s all ease!important;
  -webkit-transition: 1s all ease!important;
  -moz-transition: 1s all ease!important;
  -ms-transition: 1s all ease!important;
  -o-transition: 1s all ease!important;
  transition: 1s all ease!important;
}


.info-servicio{
  width: 370px;
  height: 230px;
}

.extra{
  padding: 0;
  position: relative;
}


.c-info{
  display: flex;
  // justify-content: center;
  padding-left: 110px;
  align-items: center;
  height: 380px;
}

// .fondo2::before{
//   content: "";
//   width: 100%;
//   height: 100%;
//   opacity: 20%;
//   background: #62BB46;
//   position: absolute;
//   left: auto;
//   top: 0;
// }

.hm{
  overflow: hidden;
  height: 380px;
}

.hover1:hover .img-servicio{
  transition: 1s all ease!important;
  width: 110%;
  background-position-x: -40px!important;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
}
.hover1:hover .img-maquina{
  transition: 1s all ease!important;
  height: 105%;
  -webkit-transition: 1s all ease!important;
  -moz-transition: 1s all ease!important;
  -ms-transition: 1s all ease!important;
  -o-transition: 1s all ease!important;
}

.hover2:hover .img-servicio2{
  transition: 1s all ease!important;
  width: 110%;
  background-position-x: -40px!important;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
}
.hover2:hover .img-maquina2{
  transition: 1s all ease!important;
  height: 105%;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
}

.hover3:hover .img-servicio3{
  transition: 1s all ease!important;
  width: 110%;
  background-position-x: -40px!important;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
}
.hover3:hover .img-maquina3{
  transition: 1s all ease!important;
  height: 105%;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
}

.hover4:hover .img-servicio4{
  transition: 1s all ease!important;
  width: 110%;
  background-position-x: -40px!important;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
}
.hover4:hover .img-maquina4{
  transition: 1s all ease!important;
  height: 105%;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
}

.hover5:hover .img-servicio5{
  transition: 1s all ease!important;
  width: 110%;
  background-position-x: -40px!important;
  -webkit-transition: 1s all ease!important;
  -moz-transition: 1s all ease!important;
  -ms-transition: 1s all ease!important;
  -o-transition: 1s all ease!important;
}
.hover5:hover .img-maquina5{
  transition: 1s all ease!important;
  height: 105%;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
}

.info-servicio :nth-child(1){
  font-size: 16px;
  color: var(--rosa);
  margin: 0;
  margin-bottom: 7px;
}
.linea{
  border-bottom: 3px solid var(--rosa);
  width: 30px;
  margin-top: 10px;
  padding: 3px 0;
}

.s-titulo{
  font-size: 24px;
  font-weight: 600;
  color: #3C3C3C;
}

.info-servicio :nth-child(3){
  font-size: 14px;
  color: #3C3C3C;
}
.machine{
  min-height: 500px!important;
  height: auto;
}

.seccion3{
  height: auto;
  width: 100%;
  background: #F7F7F7;
  padding-top: 100px;
  height: auto;
  padding-bottom: 50px;
}

.p-l{
  padding-left: 0!important;
  overflow: hidden;
  position: relative;
}

.productos{
  margin-top: 100px;
}

.p-titulo{
  text-align: center;
  width: 100%;
  line-height: 20px;
  margin-bottom: 100px;
}
.p-titulo p {
  font-size: 20px;
  color: var(--rosa);
  font-weight: 300;
  margin: 0;
}
.p-titulo h2 {
  font-size: 36px;
  color: #3C3C3C;
  font-weight: 700;
}

.largo{
  cursor: pointer;
  width: 270px!important;
  margin-bottom: 50px;
  height: 380px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  position: relative;
  box-shadow: 0px 0px 26.3px -2.2px rgb(0 0 0 / 10%)!important;
}

.add-car:hover{
  background: var(--rosa);
  color: white!important;
}

.largo:hover .add-car{
  opacity: 100;
  transition: .5s all ease;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -ms-transition: .5s all ease;
  -o-transition: .5s all ease;
}

.info-p{
  text-align: center;
}
.info-p p{
  font-size: 9px;
  margin: 0;
  color: #6D6E70;
  font-weight: 400;
}
.info-p h2{
  font-size: 14px;
  margin: 0;
  color: #3C3C3C;
  font-weight: 500;
}

.info-p h1{
  margin-top: 8px!important;
  font-size: 25px;
  margin: 0;
  color: var(--rosa);
  font-weight: 600;
}

.puntos{
  position: absolute!important;top: 70%!important;left: 8%!important;
}

.add-car{
  cursor: pointer;
  width: 110px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid var(--rosa);
  font-size: 8px;
  font-weight: 500;
  color: var(--rosa);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: absolute;
  top: 4%;
  opacity: 0;
  right: 5%;
  transition: .5s all ease;
  z-index: 100;
}
.add-car p {
  margin: 0;
  margin-top: 3px!important;
}

.row-imgs{
  height: auto;
  display: flex;
  justify-content: space-evenly;
}

.ver-producto{
  width: 170px;
  height: 50px;
  text-align: center;
  margin: auto;
  border: 2px solid var(--rosa);
  margin-top: 100px;
  transition: .5s all ease;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -ms-transition: .5s all ease;
  -o-transition: .5s all ease;
  cursor: pointer;
}

.ver-producto:hover{
  background: var(--rosa);
  transition: .5s all ease;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -ms-transition: .5s all ease;
  -o-transition: .5s all ease;
}
.ver-producto a:hover{
  color: white!important;
}
.ver-producto a{
  margin: 0;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--rosa);
}



.calidad{
  height: 580px;
  display: flex;
  align-items: center;
}

.img1{
  background-image: url('./assets/img/maquina1.png');
  width: 100%;
  height: 580px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s all ease;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
  position: relative;
}

.img1:hover .info-hover{
  opacity: 80%;
  transition: .5s all ease;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -ms-transition: .5s all ease;
  -o-transition: .5s all ease;
}

.info-hover{
  transition: .5s all ease;
  background: #642424;
  height: 580px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  opacity: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 50px;
  opacity: 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -ms-transition: .5s all ease;
  -o-transition: .5s all ease;
}
.img2:hover .info-hover{
  opacity: 80%;
  transition: .5s all ease;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -ms-transition: .5s all ease;
  -o-transition: .5s all ease;
}


.img3:hover .info-hover{
  opacity: 80%;
  transition: .5s all ease;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -ms-transition: .5s all ease;
  -o-transition: .5s all ease;
}


.img2{
  background-image: url('./assets/img/maquina2.png');
  width: 100%;
  height: 580px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s all ease;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
  position: relative;
}
.info-hover2{
  background: #642424;
  width: 290px;
  height: 580px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}

.img3{
  background-image: url('./assets/img/maquina3.png');
  width: 100%;
  height: 580px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s all ease;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
  position: relative;
}

.a{
  width: 45%!important;
}

.seccion4{
  height: auto;
  margin-bottom: 150px;
  position: relative;
  background-image: url('./assets/img/maquinasBg.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 62%;
}

.fondo-maquina{
  position: absolute;
  right: 0;
  top: 0;
}

.group{
  position:relative;
  margin-bottom:45px;
}

input{
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  background: none;
}

input:focus{
      outline:none;
}

label{
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  font-weight: 500;
}

input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
}
textarea:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
}
.input-descripcion{
  font-size: 14px;
  font-weight: 400;
  font-family: var(--montserrat);
  color: #6D6E70;
}

.inputext{
  outline: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--rosa-claro);
}


.btn-enviar{
  background: var(--rosa-claro);
  height: 49px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  transition: 400ms all ease;
  font-size: 16px;
  font-family: var(--openSans);
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
}

.contacto{
  background-image: url('./assets/img/bottomBg.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: center;
  background-size: 40%;
}

.btn-enviar:hover{
  background: #E86A6A;
  letter-spacing: 4px;
  color: white;
}

.info-servicio{
  padding: 10px;
}

.c-footer{
  background: #212121;
  min-height: 300px;
  height: auto;

}
.c-footer2{
  text-align: center;
}

.c-footer2 p{
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 5px;

}

.redes-f{
  text-align: center;
  width: 50px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 15px;
}
.redes-f a{
  color: var(--rosa-claro);
} 


.redes-f svg:hover{
  color: var(--rosa);
  transition: .5s all ease;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -ms-transition: .5s all ease;
  -o-transition: .5s all ease;
}

.linea-f{
  width: 100%;
  height: 1px;
  margin-top: 30px;
  background: var(--rosa-claro);
}

.copyright{
  font-size: 10px;
  font-weight: 400;
  color: var(--rosa-claro)!important;
  margin-top: 15px;
}
.img-col{
  padding-bottom: 100px;
}

.box-black{
  width: 180px;
  height: 60px;
  background: #212121;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.box-black{
  font-size: 16px;
  font-weight: 400;
}

.c-formulario{
  width: 386px;
  margin-bottom: 50px;
}

.carrito{
  width: 370px;
  background: #FFFFFF;
  position: absolute;
  top: 135%;
  right: 0;
  z-index: 1000000000;
  padding: 10px;
  opacity: 0;
  display: none;
  box-shadow: 0px 6px 10px #2b2b2b10;
  transition: .5s all ease;
}

.show-car{
  opacity: 100;
  display: flex;
  flex-direction: column;
  transition: .5s all ease;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -ms-transition: .5s all ease;
  -o-transition: .5s all ease;
}

.articulos{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 5px;
}

.articulos p {
  margin: 0;
  font-size: 10px;
  color: #2B2B2B;
}


.car-articulos{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #CCCCCC;
  gap: 8px;
}


.car-img{
  width: 60px;
  border-radius: 10px;
  border: 1px solid #00000010;
  height: 60px;
  margin: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.car-info{
  width: 30%!important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left!important;
}
.car-info :nth-child(1){
  font-size: 10px;
  color: #212121;
  font-weight: 600;
  margin: 0;
}


.car-info :nth-child(2){
  margin: 0;
  font-size: 8px;
  color: #212121;
}

.btns{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%!important;
}
.btns svg{
  cursor: pointer;
  background: var(--rosa-claro);
  border-radius: 100%;
  color: white;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  transition: 300ms all ease;

}
.btns svg:hover{
  background: var(--rosa);
}
.precio{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.precio h2{
  font-size: 12px;
  margin: 0;
  font-family: var(--montserrat);
  color: #3F4C58;
}

.precio svg{
  color: var(--rosa);
}

.info-total{
  width: 100%;
  height: 103px;
  margin-top: 15px;
}

.btn-checkout{
  width: 100%;
  height: 50px;
  cursor: pointer;
  margin-top: 15px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms all ease;
  padding-top: 10px;
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
}
.btn-checkout:hover{
  background: #3C3C3C;
  transition: 300ms all ease;
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
}
.btn-checkout h2{
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.info-total p{
  margin: 0;
  font-size: 12px;
  color: #6D6E70;
}
.info-total {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-total div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.total{
  width: 31%;
}

.total p{
  color: var(--rosa)!important;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.c-s2{
  background: red;
  display: flex;
  justify-content: center;
}

.col-infoN{
  height: 575px;
  position: relative;
}

.col-infoN::before{
  content: "";
  background: linear-gradient(to left, #62BB4620 0%, #62BB4620 50%);
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
}


.planta{
  background-image: url('./assets/img/planta_qs.png');
  height: 380px;
  width: 380px;
  position: absolute;
  left: 20%;
}
.plantaa{
  width: 100%;
  height: 380px;
  text-align: center;
  position: relative;
  padding-right: 30px;
}


.col-imgN{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgN1{
  width: 270px;
  height: 270px;
  background-size: cover;
  background-image: url('./assets/img/qs1.jpg');
}
.imgN2{
  background-image: url('./assets/img/qs2.jpg')!important;
}
.imgN3{
  height: 270px;
  background-size: cover;
  background-image: url('./assets/img/qs3.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.n-infoP{
  width: 370px!important;
  margin: auto;
  color: #E86A6A!important;
}

.sin-margin{
  margin: 0;
  margin-top: 10px;
}

.cn-img{
  width: 100%;
  text-align: center;
}

.flee{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.n-fondo{
  height: 530px!important;
}

.seccion3N{
  height: 1200px;
  background: #212121;
  padding-top: 130px;
  margin: 50px 0;
}
.seccion3N .p-titulo{
  margin-bottom: 70px;
}

.seccion3N p {
  font-weight: 400!important;
  color: var(--rosa-claro);
}
.seccion3N h2 {
  color:#F7F7F7!important;
}
.ns{
  height: auto!important;
}

.c-n p{
  font-size: 16px;
  line-height: 30px;
  color: #F7F7F7;
}
.p-m{
  width:370px;
}
.h-p{
  height: 610px;
}


/* PRODUCTOS  */

.seccion1M{
  width: 100%;
  background: #FFFFFF;
  // height: 720px;
  background-size: 60%;
  background-image: url('./assets/img/topMaquinas.png');
  background-repeat: no-repeat;
  background-position: inherit;
}
.seccion1S{
  width: 100%;
  background: #FFFFFF;
  background-image: url('./assets/img/top_servicios.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.seccion1P{
  width: 100%;
  background: #FFFFFF;
  // height: 720px;
  background-size: 60%;
  background-image: url('./assets/img/productosTop.jpg');
  background-repeat: no-repeat;
  background-position: inherit;
}

.rowP{
  height: 500px;
  margin-bottom: 50px;
}


.infoP{
  width: 570px;
  height: 400px;
  background: var(--cremoso);
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoS{
  width: 570px;
  height: 400px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion2P p{
  margin: 0;
}
.opcionesP{
  display: flex;
  height: 50px;
  align-items: center;
}

.opcionesP p {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin-right: 15px;
  color: #3C3C3C;
}

.opcionesP :nth-child(5){
  color: var(--rosa);

}

.productosP{
  width: 100%;
  margin-bottom: 30px;
  // min-height: 1900px;
  // height: 100%;
  height: auto;
}

.card-categoria{
  background: var(--cremoso);
  min-height: 380px;
  height: auto;
  padding: 10px 25px!important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-categoria h2{
  font-size: 18px;
  color: #22262A;
}
.seleccionadoP{
  color: var(--rosa)!important;
}

.card-categoria p:hover{
  color: var(--rosa-claro);
  transition: 300ms all ease;
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
}
.card-categoria p{
  cursor: pointer;
  transition: 300ms all ease;
  color: #262626;
  font-family: var(--montserrat);
  font-size: 14px;
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
}

.sub-categorias{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.cards-P{
  // min-height: 1700px;
  height: auto;
  margin-bottom: 50px;
}


.largoImgs{
 justify-content: space-evenly;
 cursor: pointer;
}

.paginacion{
  width: 272px!important;
  height: 56px;
  display: flex;
  margin: auto;
  cursor: pointer;
  flex-wrap: wrap;
  justify-content: center;
}

.paginacion p:hover{
  transition: 300ms all ease;
  color: #FFFFFF;
  background: var(--rosa);
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
}

.paginacion p{
  transition: 300ms all ease;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 56px;
  height: 56px;
  margin: 0;
  font-size: 18px;
  color: #22262A;
}

.cont-detail{
  height: 547px;
  margin-bottom: 150px;

}
.cont-detail p, .cont-detail h2 , .cont-detail h3, .cont-detail h1{
  margin: 0;
  padding: 0;
}

.cont-detail .col-md-5{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img-detalles{
  width: 470px;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  border: 1px solid #A8A8A8;

}

.container-product{
  width: 25%!important;
}
.container-product2{
  width: 33%!important;
}
.img-detalles img{
  width: 90%;
}

.carrucel{
  width: 100%;
  height: 62px;
  margin-top: 15px;
}
.detalle-info{
  width: 569px;
  height: 276px;
}

.detalle-info h1{
  font-size: 20px;
  color: var(--rosa-claro);
  font-weight: 700;
}
.detalle-info h2{
  line-height: 30px;
  font-size: 17px;
  color: #909090;
}
.detalle-info span{
  font-size: 20px;
  font-weight: 700;
  color: #101218;
}
.detalle-info h3{
  margin: 30px 0 13px 0;
  font-size: 15px;
  font-weight: 500;
  color: var(--rosa);
}
.detalle-info p{
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #101218;
  margin-bottom: 37px;

}

.add-producto{
  width: 116px;
  height: 45px;
  background: #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 55px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.add-producto div{
  height: 100%;
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-producto p{
  margin: 0;
  font-size: 16px;
}
.add-producto svg{
  color: var(--rosa);
}
.add-producto svg:hover{
  color: var(--rosa-claro);
}

.btns-details{
  width: 85%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.btn1{
  display: flex;
  align-items: center;
  width: 230px;
  height: 40px;
  position: relative;
  border: 2px solid var(--rosa-claro);
}
.btn1 .relleno{
  width: 10%;
  height: 40px;
  background: var(--rosa-claro);
  position: absolute;
  left: 0;
  z-index: 1;
  transition: 300ms all ease;
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
}
.btn1:hover .art{
  color: white;
  z-index: 1000;
}

.btn1:hover .relleno{
  width: 100%;
  transition: 300ms all ease;
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
}


.btn1 div{
  width: 44px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--rosa-claro);
  color: white;
  z-index: 1000;
}
.btn1 p{
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  color: var(--rosa-claro);
  z-index: 2;
}

.criterio {
  border-bottom: 1px solid #A8A8A8;
  width: 85%;
  height: 42px;
}
.criterio p{
  color: #A8A8A8;
  font-size: 10px;
}
.carrucel-lista{
  display: flex;
}
.carrucel-lista .img-carrucel{
  border: 1px solid #A8A8A8;
  width: 64px!important;
  height: 64px!important;
  min-width: unset!important;
  margin: 0 10px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carrucel-principal{
  display: flex;
  align-items: center;
}
.carrucel-principal svg{
  cursor: pointer;
  color: #A8A8A8;
}

.glider-track{
  display: flex;
  width: 400px;
  justify-content: space-evenly;
}

.otros-p{
  height: auto;
}

.left-p{
  text-align: left;
}

.d-img:hover{
  box-shadow: 0px 0px 26.3px -2.2px rgb(0 0 0 / 20%)!important;

}

.detail{
  width: 100%;
  text-align: left;
}
.detail :nth-child(2){
  color: var(--rosa);
  margin-top: 5px;
}


.row-productos div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0!important;
}
.row-productos{
    border-top: 1px solid #F6F7F8;
    border-bottom: 1px solid #F6F7F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0!important;
}

.contenido-car{
    height: auto;
    padding: 0 13px;
}

.info-prod h1{
    text-align: center;
    font-size: 12px;
    font-family: var(--montserrat);
    color: #3C3C3C;
}

.precio-prod p{
    font-size: 16px;
    font-weight: 600;
    color: #262626;
    margin: 0;
    text-align: center;
}

.cf p{
    font-weight: 400!important;
}

.img-prod{
    width: 130px;
    margin-left: 30px;
}

.iconoX{
    background: #F6F7F8;
    border-radius: 100%;
    color: var(--rosa);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.iconoX:hover{
    color: var(--rosa-claro);
}

.descripcion-p p{
    margin: 0;
    font-size: 16px;
    color: #6D6E70;
}
.off{
  gap: unset!important;
}

.tutilo p {
    padding-left: 89px;
}

.descripcion-p div{
    height: 50px;
    display: flex;
    justify-content: center;
}

.pagar{
    width: 370px;
    height: 309px;

}
.sub-total p{
    font-size: 16px!important;
    font-weight: 500;
    color: #3C3C3C;
}

.envio p{
    font-weight: 400!important;
}
.coupon p{
    font-weight: 400!important;
    color: var(--rosa);
}
.car-total p{
    margin: 0;
    font-size: 16px;
    font-weight: 700;

}

.car-total{
    border-top: 1px solid #F6F7F8;
    margin-top: 12px;
    padding-top: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.img-produ{
    justify-content: start!important;
}

.canjear {
    width: 369px;
    display: flex;
}
.canjear input{
    text-indent: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid var(--rosa-claro);

}
.canjear button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 118px;
    height: 60px;
    background: var(--rosa-claro);
    border: none;
    font-size: 13px;
    font-weight: 500;
    color: white;
    font-family: var(--montserrat);
}

::placeholder{
    opacity: 50%;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--montserrat);
}


.confirmation{
  width: 100%;
  height: calc(100vh - 135px);
  display: flex;
  align-items: center
}

.info-confirmation{
  width: 386px;
  height: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.info-confirmation img{
  width: 280px;
  height: 280px;
  margin-bottom: 40px;
}
.info-confirmation h1{
  font-family: var(--montserrat);
  font-size: 30px;
  font-weight: 700;
  color: #6D6E70;
  margin-bottom: 25px;
}
.info-confirmation p{
  font-size: 14px;
  color: #3C3C3C;
  font-family: monospace;
}
.info-confirmation  span{
  font-weight: 600;
}
.info-confirmation div{
  width: 370px;
  height: 56px;
  background: #62BB46;
  color: white;
  font-weight: 600;
  font-size: 18px;
  transition: 300ms all ease;
  cursor: pointer;
  font-family: var(--montserrat);
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
}


.info-confirmation div:hover{
  background: #4A9632;
  letter-spacing: 2px;
}


.c-cards{
  width: 75%;
  height: auto;
} 

.radio{
  width: 30%;
  padding: 8px;
  height: 150px;
  background: #F1F3F4;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border: 2px solid #F1F3F4;
}

.radio:hover{
  background: #E86A6A30;
  border: 2px solid var(--rosa);
}
.selected-radio{
  background: #E86A6A50;
  border: 2px solid var(--rosa);
}



.radio div{
  display: flex;
    align-items: center;
    width: 100%;
}
.radio i{
  font-size: 60px;
  margin: auto;
  transition: all 0.2s ease;

}
.radio svg{
  transition: all 0.2s ease;
  width: 110px;
  margin: auto;
  fill: #212529;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.radio:hover svg{
    fill: var(--rosa);
  }
.radio div label{
  transition: all 0.2s ease;
}
.radio:hover div label{
  color: var(--rosa);
}
.radio:hover i{
  color: var(--rosa);
}

.radiopago{
  width: 30px;
}

.acomodo-pago{
    width: 100%;
}

.cards-services{
  height: 500px;
  display: flex;
  justify-content: space-between;
}
.cards-services .services-card{
  width: 32%;
  height: 320px;
  overflow: hidden;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.card1{
  background: #3C3C3C;
}

.card2{
  background:var(--rosa);
}

.card3{
  background: #FAF2D9;
}

.rosa h1, .rosa p{
  color: var(--rosa);
}
.card-info{
  text-align: center;
  color: white;
  height: 120px;
  width: 80%;
  padding-top: 20px;
  margin: auto;
}
.capa{
  position: absolute;
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  z-index: 100;
  background: #3C3C3C60;
}
.capa:hover{
  opacity: 0;
}
.capa-estudio{
  background: #E86A6A60;
}

.capa-uñas{
background: #FAF2D960;
}

.card-info h1{
  font-size: 24px;
  font-weight: 700;
}
.card-info p{
  font-size: 13px;
}
.spa{
  background: url("assets/img/spa.jpg") no-repeat center / cover;
}
.estudio{
  background: url("assets/img/estudio.jpg") no-repeat center / cover;
}
.uñas{
  background: url("assets/img/uñas.jpg") no-repeat center / cover;
}

.card-fondo{
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  transition: 300ms all ease;
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
}

.card-fondo:hover{
  width: 110%;
  background-position-x: -20px !important;
}



@media screen and (max-width: 800px) {

  .c-cards{
    width: 100%!important;
  } 

  .radio {
    width: 30%;
    height: 125px;

  }
  .radio i{
    font-size: 40px;
  }
  .radio svg{
    width: 70px;
  }
  .cards-services{
    flex-direction: column;
    height: auto;
  }
  .services-card{
    width: 90%!important;
    margin: auto;
    margin-bottom: 20px;
  }

  
  .acomodo-pago{
    margin: auto;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    align-items: start!important;

  }


  .img-prod{
    width: 60px;
    margin-left: 0;
  }
  .canjear{
    width: 100%;
    margin-bottom: 50px;
  }


  .descripcion-p p{
    text-align: center;
    font-size:10px;
  }

  .precio-prod {
    flex-direction: column;
  }
  .precio-prod p{
    font-size: 10px;
  }

  .imgG{
      grid-column: 1 / -1;
      width: 100%;
  }

  .logo2{
      display: unset;
      width: 120px;
  }

  .logo{
      display: none;
  }

  .navbar-nav{
      text-align: center;
      margin: 15px 0px;
  }
  .redes{
      margin: auto;
      margin-bottom: 10px;
  }
  .presentacion-texto{
      position: unset;
      text-align: center;
      width: 100%;
      margin-top: 80px;
  }
  .presentacion-texto :nth-child(2){
      font-size: 52px;
      font-weight: 800;
      font-family: var(--montserrat);
      color: var(--rosa);
      line-height: 52px;
  }
  .h-p{
    height: auto;
  }
  .infoS{
    width: 90%;
    margin: auto;
  }

  .cont-btnComprar{
      margin: auto;
  }

  .fondo2::before{
      display: none;
  }

  .presentacion-texto p{
      width: 80%!important;
      text-align: center;
      margin: auto;
      margin-bottom: 40px;
  }
  .circulos-fondo{
      position: unset;
      margin-top: 15px;
  }
  .flechas{
      display: unset!important;
  }
  .seccion1M{
    background: none;
  }

  .img{
      display: unset!important;
  }
  .circulos-fondo{
      display: none;
  }

  .presentacion-fondo{
      height: 400px!important;
      min-height: unset;
  }
  .seccion1{
      height: 100vh;
      margin: 0;
  }

  .ocultar{
      display: none!important;
  }
  .oculto{
      display: block!important;
  }
  .contenedor-somos{
      width: 100%!important;
      text-align: center;
      padding: 10px;
      margin: 0;
  }
  .contenedor-somos p{
    font-size: 16px;
  }

  .conoce{
      margin: auto;
  }

  .puntos{
      position: absolute!important;
      top: 110%!important;
      left: -3%!important;
  }

  .col-somos{
      align-items: unset;
      height: auto!important;
  }
  .imgs2{
      width: 100%;
      height: auto;
  }

  .img-col{
      height: auto;
      /* padding-bottom: 100px; */
  }
  .p-l{
      padding: 0!important;
  }
  .largo{
      /* width: 50%!important; */
      width: 100%!important;
      height: auto!important;
      margin-bottom: 15px;
      box-shadow: 0px 0px 15px -11.8px rgb(0 0 0 / 10%);
  }

  .img-p{
      width: 100%;
  }

  .calidad{
      height: 380px;
  }

  .seccion4{
      margin-bottom: 50px;
  }
  .contacto{
      background: none;
  }

  .img-servicio, .img-servicio2, .img-servicio3, .img-servicio4, .img-servicio5,
  .img-maquina, .img-maquina2, .img-maquina3, .img-maquina4, .img-maquina5{
      display: none;
  }
 
  .row-imgs{
      justify-content: space-evenly!important;
  }
  .linea{
      margin: auto;
      margin-bottom: 15px;
  }

  .c-info{
      text-align: center;
      padding: 0;
      display: flex;
      justify-content: center;
      width: 100%;
  }
  .c-formulario{
      width: 100%;
      height: 478px;
      margin-bottom: 81px;
  }
  .menu-fijo{
      box-shadow: 0px 0px 5.3px -2.2px rgb(0 0 0 / 10%);
  }

  .posicion{
      z-index: 2147483647;
      background: white;
      margin-top: 23px;
      position: unset;
      margin-top:10px;
      border-radius: 10px;
      box-shadow: 0px 0px 15px -11.8px rgb(0 0 0 / 10%);
  }


  .p-nosotros{
      margin-top: 0!important;
  }

  .imgN1{
      margin-top: 34px!important;
      width: 100%!important;
  }

  .seccion2N{
      height: auto;
  }

  .imgN3{
      margin-right:0;
      margin-top: 35px;
  }
  .plantaa img{
      width: 100%;
      position: absolute;
      left: 0;
  }

  .pagar{
    width: 100%;
  }

  .seccion3N{
      height: auto;
      margin: 100px 0;
      text-align: center;
  }

  .p-m{
      width: 80%;
      margin: auto;
  }

  .n-infoP{
      padding: 0px 20px;
  }

  .c-n p {
      width: 80%;
      margin: auto;
  }

  .card-categoria{
      margin-bottom: 50px;
  }

  .seccion1P{
    background: none;    
  }
  .col-detail{
    height: auto!important;
  }
  .cont-detail{
    height: auto;
  }
  .ql-editor{
    margin-bottom: 40px;
  }


  .img-detalles{
    height: auto;
    width: 100%;
  }

  .btn1 p{
    font-size: 11px;
  }

  .cont-detail .col-md-6{
    margin-top: 50px;
    text-align: center;
  }

  .detalle-info{
    width: 100%;
    height: auto;
  }
  .glider-track{
    display: flex;
    width: 470px;
  }

  .add-producto{
    margin: auto;
    margin-bottom: 50px;
  }

  .btns-details{
    width: 100%;
    justify-content: space-evenly;
  }

  .btn1{
    width: 47%;
  }

  .ql-container.ngx-quill-view{
    width: 80%!important;
    margin: auto!important;
  }

  .criterio {
    width: 100%;
  }
  .criterio p{
    width: 100%;
  }

  .info-confirmation {
    text-align: center;
    width: 90%;
    height: auto;
    margin: auto;
  }

  .info-confirmation div{
      width: 100%;
  }
  

  .info-confirmation img{
      width: 100%;
  }
  // CHECKOUT 
  .itemWidthForm, .inputCanje, .formwMovil, .info-card{
    width: 100%!important
  }
  .titleCompra{
    text-align: center;
    margin: 10px 0;
    font-size: 30px!important;
    line-height: 52px;
    font-weight: bold;
  }
 
  .total{
    width: 100%;
  }
  .image-producto{
    width: 100%!important;
  }
 
  .discount, .info-p h1{
    font-size: 14px!important;
  }
  .container-product, .container-product2{
    width: 50%!important;
  }
  .contactanos{
    font-size: 27px;
  }
  .contenedor-somos h2{
    font-size: 30px;
  }

}

.itemCarrit, .producto-img{
  width: 45%!important;
}
.info-card{
  width: 75%;
}

.selected-route{
  color: var(--rosa) !important;
}

.cursor-pointer{
  cursor: pointer;
}

.no-select{
  user-select: none;
}

.ql-editor{
  padding: 0!important;
}

.contactanos{
  color: #3c3c3c!important;
  line-height: 60px;
  font-size: 48px;
  // color: #212121;

}

